%div{ class: "row row-cards row-deck" }
  .col-12
    .card
      - if content.title || content.actions
        .card-header
          %h3{ class: "card-title" }= content.title
          %div{ class: "btn-list text-right", style: "margin-left: auto;" }
            - if content.actions
              - content.actions.each do |action|
                %a{ href: action[:path], class: "btn btn-primary btn-sm" }= action[:text]

      .table-responsive
        %table{ class: "table table-hover table-outline table-vcenter text-nowrap card-table" }
          %thead
            %tr
              - content.headers.each do |item|
                %th= item

          %tbody
            - if content.content
              - render_collection = content.content
              - render_collection = render_collection.take(content.records_per_page) if content.records_per_page
              - render_collection.each do |chunk|
                %tr{ class: "flexhub-#{chunk[:status]}", "data-href": chunk[:link] }
                  - chunk[:item].each_with_index do |item, index|
                    %td= item.to_s.try(:html_safe)

              - if content.records_per_page
                %tr
                  %td{ colspan: 10 }= "+ #{content.content.size - content.records_per_page} records"
